/OneDrive/Documents/NetBeansProjects/mavenproject1/target/
/OneDrive/Documents/NetBeansProjects/mavenproject2/target/
/OneDrive/Desktop/Rabia/Tafe SA/5DD/Session 14/practice/JDBCEx01/target/
/OneDrive/Desktop/Rabia/Tafe SA/5DD/Session 14/2/ex02/nbproject/private/
/OneDrive/Desktop/Rabia/Tafe SA/5DD/Session 14/2/ex02/build/
/OneDrive/Desktop/Rabia/Tafe SA/5DD/Session 14/2/ex02/dist/
/OneDrive/Desktop/Rabia/Tafe SA/5TSD/Assignment Work/Assignment5_sams/nbproject/private/
/OneDrive/Desktop/Rabia/Tafe SA/5TSD/Assignment Work/Assignment5_sams/dist/
/OneDrive/Desktop/Rabia/Tafe SA/5TSD/Assignment Work/Assignment5_sams/build/
